.hero-logo {
  margin-bottom: 8px;
  opacity: 1;
  padding: 0;
  width: 240px;
}

.help-block {
  padding: 10px;
}

.login-container {
  .login-row {
    .login-col {
       margin-top: 124px;
      form {
        label {
          color: #fff;
        }
      }
    }
  }
}
