<div class="table-responsive">

  <table class="table table-striped">
    <caption>List of permissions:</caption>
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Action</th>
      <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data">
      <td>{{item.perm_id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.action}}</td>
      <td class="actions">
        <a (click)="edit(item.user_id, $event)" class="glyphicon glyphicon-edit"></a>
        <a (click)="edit(item.user_id, $event)" class="glyphicon glyphicon-trash"></a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="actionbar">
    <a class="btn btn-primary" [routerLink]="'/admin/users/permissions/add'" role="button">New</a>
  </div>
</div>
