/* You can add global styles to this file, and also import other style files */
$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/" !default;
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "_scss/login";
@import "_scss/menu";
@import "_scss/small";

:focus {
  outline: none;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}


login, admin {
  width: inherit;
  height: inherit;
  display: block;
}

body.login {
  background: url("assets/bg.png") fixed center center no-repeat;
}

.image-center {
  text-align: center;
}
