<div class="side-menu">

  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="brand-wrapper">
        <!-- Hamburger -->
        <button type="button" class="navbar-toggle" (click)="toggleNavBar()">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- Brand -->
        <div class="brand-name-wrapper" *ngIf="!!brandImage">
          <img bind-src="brandImage" width="50">
        </div>
      </div>

    </div>

    <!-- Main Menu -->
    <div class="side-menu-container">
      <ul class="nav navbar-nav" [ngClass]="{'slide-in': isNavBarToggled}">

        <!-- Dropdown-->
        <li *ngFor="let parent of menu; index as i" class="panel panel-default dropdown">
          <a *ngIf="parent.sub" (click)="toggleSubMenu(i, $event)">
            <span *ngIf="parent.icon" class="glyphicon" [ngClass]="parent.icon"></span>{{parent.label}}
            <span class="glyphicon caret-right"
                  [ngClass]="{'glyphicon-triangle-left': !isToggled(i), 'glyphicon-triangle-bottom': isToggled(i)}"></span>
          </a>
          <a *ngIf="!parent.sub" [routerLink]="parent.link">
            <span *ngIf="parent.icon" class="glyphicon" [ngClass]="parent.icon"></span>{{parent.label}}
          </a>
          <div *ngIf="parent.sub" class="panel-collapse collapse" [ngClass]="{'in': isToggled(i)}">
            <div class="panel-body">
              <ul class="nav navbar-nav">
                <li *ngFor="let child of parent.sub">
                  <a [routerLink]="child.link">
                    <span *ngIf="child.icon" class="glyphicon" [ngClass]="child.icon"></span>{{child.label}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li><a (click)="doLogout($event)"><span class="glyphicon glyphicon-off"></span> Logout</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

</div>
